.logo-img {
  height: 39px;
  width: auto;
  vertical-align: middle;
}

.footer {
  position: relative;
  color: #fff;
  text-align: center;
  background: #222;
  padding: 12px;
}

.footer::after {
  content: "Silky Road © 2025-2026";
  display: block;
}

